go 1.26.5

use (
	./backend/agent
	./backend/agents-backend/qubership-apihub-agents-backend
	./backend/api-linter-service/qubership-api-linter-service
	./backend/commons-go
	./backend/portal-backend/qubership-apihub-service
	./backend/test-service/qubership-apihub-test-service
)
