# IDEs
/.cursor/
/.junie/
/.qoder/
/.trae/
/.vscode/
/.windsurf/
/.zed/
/.idea/
!/.idea/icon.png
*.iml
/.run

# dependencies
/node_modules/

# logs
*.log*

# playwright
/reports/
/playwright/.cache/
/temp/
/.env
debug.spec.ts
