/.idea
.idea
.vscode
.history
/data/**
/logs/**
/qubership-apihub-service.exe
/__debug_bin.exe
/qubership-apihub-service
logs
/logs
/tmp/**
/bin/**
/config.yaml

docs/local_development/jwt_private_key
*.patch
*.iml
*.bak
*.orig
*.exe
env
jwt_private_key

*.bak
*.patch

.DS_Store

/local_config/config.yaml
docs/local_development/docker-compose/DB/data/**


# APM cache (installed package sources)
apm_modules/

# apm pack output
agent-packages/**/build/
