.sl-elements {
    font-size: 13px;
}

.sl-elements .svg-inline--fa {
    display: inline-block;
}

/* Docs */

.sl-elements .DocsSkeleton {
    animation: 500ms linear infinite alternate skeleton-glow;
    background: rgba(206, 217, 224, 0.2);
    background-clip: padding-box !important;
    border-color: rgba(206, 217, 224, 0.2) !important;
    border-radius: 2px;
    box-shadow: none !important;
    color: transparent !important;
    cursor: default;
    pointer-events: none;
    user-select: none;
}

.sl-elements .Model {
    --fs-code: 12px;
}

/* Table of Contents */

.sl-elements .ElementsTableOfContentsItem:hover {
    text-decoration: none;
    color: inherit;
}

/* TryIt */

.sl-elements .ParameterGrid {
    display: grid;
    grid-template-columns: fit-content(120px) 20px auto;
    row-gap: 3px;
    align-items: center;
    padding-bottom: 0;
    margin-bottom: 16px;
}

.sl-elements .TryItPanel > :nth-child(2) {
    /* This, along with the padding:0 margin: 16s above causes margin collapse to guarantee correct spacing around the panels & send button */
    overflow: auto;
}

.sl-elements .OperationParametersContent {
    max-height: available; /* 4.5 lines plus padding */
}

.sl-elements .Checkbox {
    max-width: 15px;
    padding-right: 3px;
}

.sl-elements .TextForCheckBox {
    padding-top: 6px;
    padding-left: 9px;
}

.sl-elements .TextRequestBody {
    max-height: 200px;
    overflow-y: auto;
    padding-bottom: 0;
    margin-bottom: 16px;
}

/* HttpOperation */

.sl-elements .HttpOperation .JsonSchemaViewer .sl-markdown-viewer p {
    font-size: 12px;
    line-height: 1.5em;
}

.sl-elements .HttpOperation__Parameters .sl-markdown-viewer p {
    font-size: 12px;
    line-height: 1.5em;
}

.sl-elements .Model .JsonSchemaViewer .sl-markdown-viewer p {
    font-size: 12px;
    line-height: 1.5em;
}

/* Sidebar */

.sl-sidebar-resizer {
    cursor: col-resize;
    width: 1px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 6px;
    justify-self: flex-end;
}

.border-diff-circle {
    border-radius: 6px;
    width: 10px;
    height: 10px;
    top: -30px;
    left: 30px;
    position: relative;
    overflow: visible;
}

.border-diff-dots {
    width: 8px;
    height: 8px;
    margin: 4px 8px 8px 4px;
    border-radius: 6px;

}

.border-diff-dots._red {
    background-color: rgb(237, 74, 84);
}

.border-diff-dots._green {
    background-color: rgb(107, 206, 112);
}

.border-diff-dots._purple {
    background-color: rgb(197, 93, 207);
}

.border-diff-dots._blue {
    background-color: rgb(97, 170, 242);
}

.sl-menu-adapter {
    appearance: auto;
    text-align: end;
}

/* Scrollbars */
html {
    scrollbar-width: thin;
    scrollbar-color: #D5DCE3 #FFFFFF;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: rgba(46, 58, 82, 0.12);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #D5DCE3;
}

/* Diff Block type */
.diff-block-type {
    width: 15px;
    transition: all .3s ease-in-out;
    pointer-events: auto;
}

.diff-block-type:hover {
    padding: 0 4px;
    width: max-content !important;
    color: white;
}

.diff-block-type:hover:after {
    content: attr(data-diff-type);
    font-weight: bold;
}
