#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
node_modules/
build/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# Visual Studio Code
.vscode
.factorypath

# Local environment
.env
