.ddlapi-property .title-row-content {
  font-size: 12px;
  font-weight: 400;
}

.ddlapi-property .title-row-content .text-value {
  font-size: 12px;
}

.ddlapi-property .text-row-content {
  font-size: 12px;
  font-weight: 400;
}

.ddlapi-property .text-row-content .text-value {
  font-size: 12px;
}

.ddlapi-property .subheader {
  font-size: 12px;
}
