.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
images/**
node_modules
out/
tsconfig.json
webpack.config.js
dist/test/
test-resources/**
test-extensions/**
.test-extensions/**
**/*.d.ts
../../**
.github/
settings.json
docs
.prettierignore
CODE-OF-CONDUCT.md
.idea
server
