qubershipApihubBackend:
  env:
    security:
      jwt:
        privateKey: '${JWT_PRIVATE_KEY}'
    zeroDayConfiguration:
      accessToken: '${APIHUB_ACCESS_TOKEN}'
      adminEmail: '${APIHUB_ADMIN_EMAIL}'
      adminPassword: '${APIHUB_ADMIN_PASSWORD}'
qubershipApihubBuildTaskConsumer:
  env:
    accessToken: '${APIHUB_ACCESS_TOKEN}'
qubershipApiLinterService:
  env:
    technicalParameters:
      apihub:
        accessToken: '${APIHUB_ACCESS_TOKEN}'
    linters:
      ai:
        openAI:
          apiKey: '${OPENAI_API_KEY}'  # Optional; required when linters.ai.enabled is true
qubershipApihubAgentsBackend:
  env:
    technicalParameters:
      apihub:
        accessToken: '${APIHUB_ACCESS_TOKEN}'
qubershipApihubUi:
  tlsIngress:
    tlsSecret:
      certificate: '${APIHUB_TLS_CRT}'
      certificateKey: '${APIHUB_TLS_KEY}'
