qubershipApihubBackend:
  env:
    security:
      jwt:
        privateKey: '${JWT_PRIVATE_KEY}'
      externalIdentityProviders:
        - id: 'external-saml-idp'
          displayName: 'SAML'
          protocol: 'SAML'
          samlConfiguration:
            metadataUrl: 'http://keycloak.localtest.me/realms/apihub-1/protocol/saml/descriptor'
            certificate: '${SAML_CRT}'
            privateKey: '${SAML_KEY}'
        - id: 'external-oidc-idp'
          displayName: 'OIDC'
          protocol: 'OIDC'
          oidcConfiguration:
            providerUrl: 'http://keycloak.localtest.me/realms/apihub-2'
            clientId: 'apihub-oidc'
            clientSecret: '${OIDC_CLIENT_SECRET}'
    zeroDayConfiguration:
      accessToken: '${APIHUB_ACCESS_TOKEN}'
      adminEmail: '${APIHUB_ADMIN_EMAIL}'
      adminPassword: '${APIHUB_ADMIN_PASSWORD}'
qubershipApihubBuildTaskConsumer:
  env:
    accessToken: '${APIHUB_ACCESS_TOKEN}'
qubershipApiLinterService:
  env:
    technicalParameters:
      apihub:
        accessToken: '${APIHUB_ACCESS_TOKEN}'
    linters:
      ai:
        openAI:
          apiKey: '${OPENAI_API_KEY}'  # Optional; required when linters.ai.enabled is true
qubershipApihubAgentsBackend:
  env:
    technicalParameters:
      apihub:
        accessToken: '${APIHUB_ACCESS_TOKEN}'
qubershipApihubUi:
  tlsIngress:
    tlsSecret:
      certificate: '${APIHUB_TLS_CRT}'
      certificateKey: '${APIHUB_TLS_KEY}'
