qubership-api-linter-service/resources/spectral/linux/spectral
qubership-api-linter-service/resources/spectral/windows/spectral.exe
qubership-api-linter-service/resources/vacuum/linux/vacuum
qubership-api-linter-service/resources/vacuum/windows/vacuum.exe
