/* TODO 12.06.2026 // Deduplicate this with Selector.css */

button.legacy-button-selector-option {
  /* bg-slate-100 */
  background-color: white;
  border: 1px solid #8F9EB4;
  color: #8F9EB4;
  border-radius: 4px;
  padding: 0px 8px 2px;
  font-size: 0.75rem;
}

.legacy-button-selector-option_disabled {
  cursor: default !important;
}

button.legacy-button-selector-option:hover {
  /* bg-slate-200 */
  background-color: #D5DCE3;
  cursor: pointer;
}

button.legacy-button-selector-option:focus {
  outline: none;
}

button.legacy-button-selector-option.selected {
  /* bg-slate-300 */
  background-color: #D5DCE3;
  color: #626D82;
}