.idea
.vscode
/data/**
/static/**
/logs/**
/apihub-agent.exe
/apihub-agent
/bin/**
/config.yaml
/qubership-apihub-agent
/qubership-apihub-agent.exe

*.bak
*.iml
*.orig

apm_modules/
agent-packages/**/build/
