qubership-apihub-agent/.idea
qubership-apihub-agent/go.sum
.idea
.vscode
qubership-apihub-agent/data/**
qubership-apihub-agent/static/**
qubership-apihub-agent/logs/**
qubership-apihub-agent/apihub-agent.exe
qubership-apihub-agent/apihub-agent
qubership-apihub-agent/bin/**
qubership-apihub-agent/config.yaml
qubership-apihub-agent/qubership-apihub-agent

*.bak
*.iml
*.orig

apm_modules/
agent-packages/**/build/
